/*------------------------------------------------------------ body global*/

body{
    margin: 0;
    padding: 0;
    background-color: #6b85a3;
}

/*------------------------------------------------------------ Style*/

.bg-yellow{
    background-color: #f7f72e;
}

.bg-grey{
    background-color: #bcbcbc;
}

.bg-red{
    background-color: #fc2f2f;
}

.center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.oswald{
    font-family: "Oswald", sans-serif;
}

.border{
    border: 3px #000 solid;
}

.no-select{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*------------------------------------------------------------ Title-area*/

header{
    margin-bottom: 10px;
}

#title{
    width: 100%;
    font-size: 40px;
    margin: 0;
    color: #000;
    padding: 10px 0;
}

#title a{
    text-decoration: none;
}

#title a:visited{
    color: #000;
}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
}

/*------------------------------------------------------------ Score-area*/

#score-counter{
    width: 100%;
}

#score-counter h2{
    max-width: 500px;
    width: 90%;
    margin: auto;
    background-color: #fff;
}

#score-timer{
    width: 100%;
}

/* Sets the green part of the timer, a static div with a simple green background */
#score-timer #timer{
    max-width: 500px;
    width: 90%;
    height: 30px;
    margin: 10px auto;
    background: #29a533;
}

/* Div inside a div that is the red part of the timer. As timer decreases, width increases, targeted and changed by jQuery. */
#score-timer #timer #red{
    max-width: 100%;
    width: 0%;
    height: 30px;
    float: right;
    background-color: red;
}

/*------------------------------------------------------------ game-area*/

#canvas{
    max-width: 1000px;
    max-height: 1000px;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    position: relative;
}

#target-div{
    position: absolute;
    width: 60px;
    height: 60px;
}

/*------------------------------------------------------------ target*/

#target{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 100px;
}

/*------------------------------------------------------------ upgrades-area*/

#upgrades-area{
    width: 100%;
}

#upgrade-bar{
    width: 100%;
    display: flex;
    margin: 10px auto;
}

.upgrade-card{
    margin: 5px auto;
    width: 15%;
    padding: 5px;
    font-size: 24px;
}

/*------------------------------------------------------------ footer*/

footer{
    display: flex;
}

#Copyrights, #social-media-bottom{
    width: 50%;
    text-align: center;
}

#social-media-bottom ul{
    padding: 0;
}

#social-media-bottom ul li{
    list-style: none;
    font-size: 24px;
}

/*------------------------------------------------------------ instructions*/

.page-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 20;
}

.instructions-outer-box{
    width: 60%;
    max-height: 90%;
    background-color: #6b85a3;
    margin: 20px auto;
    z-index: 21;
    padding: 5px 10px;
    overflow: auto;
}

.how-to-play-title{
    width: 80%;
    margin: 0 auto;
    font-size: 36px;
    padding: 5px;
}

.how-to-play-desc{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

.how-to-play-start{
    width: 60%;
    margin: 0 auto;
    font-size: 32px;
}

/*------------------------------------------------------------ game over*/

#game-over-outer-box{
    width: 60%;
    max-height: 90%;
    background-color: #6b85a3;
    margin: 20px auto;
    z-index: 21;
    padding: 5px 10px;
    overflow: auto;
}

#game-over-title{
    width: 80%;
    height: 80px;
    margin: 10px auto;
    color: #fff;
    font-size: 36px;
    padding-top: 20px;
}

#you-scored{
    font-size: 24px;
    margin-bottom: 0;
}

#final-score-box{
    width: 90%;
    margin: auto;
}

#final-score{
    padding: 10px;
    font-size: 32px;
    margin: 10px auto;
}

#restart-button-text{
    padding: 10px;
    font-size: 32px;
    margin: 10px auto;
}

#game-over-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#game-over-list > li{
    padding: 10px;
    font-size: 32px;
}

/*------------------------------------------------------------ @media to change css for mobile/small*/

@media only screen and (max-width: 600px){

    /*------------------------------------------------------------ upgrades-area*/

    .upgrade-card{
        font-size: 14px;
    }

    /*------------------------------------------------------------ footer*/

    footer{
        display:block;
    }

    #Copyrights{
        margin-bottom: 30px;
    }

    #Copyrights, #social-media-bottom{
        width: 100%;
    }
}